img {
  position: relative;
  float: none;
  top: 10px; 
  left: 0px; 
  right: 50px;
}

#contact-form {
    width: 200;
    padding: 20px;
    margin: auto;
    border: 1px solid #fff;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    width: 100%;
    margin-top: 20px;
}

#contact-form button {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ccc;
    color: #000;
    border: none;
}